.input-search {
  width: 50%;
  height: 40px;
  border-radius: 1px;
  border: 1px solid transparent;
  padding: 2px 10px;
  margin-right: 20px;
}
.input-search:hover,
.input-search:focus {
  border-color: #0b0290;
  

}

.search-form {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #afd7fc;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;

  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
}

.gallery {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  // grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  // background-color: #000;
}

.gallery__item {
  width: 240px;
  position: relative;
}

.gallery__img {
  width: 240px;
  height: 180px;
}

.button__section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#uk {
  display: none;
}

.load-more{
 
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  
}